
.card {
    margin: 1rem;
    max-width: 18rem;
    min-width: 17rem;
}

.card .card-title {
    font-size: 1.2rem;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
}

.card .card-content {
    padding: .8rem;
}

.modal {
    width: none;
    height: none;
}

@media (min-width: 425px) { 
    
    .card {
        margin-top: 1.5rem;
        margin: .8rem;
        max-width: 12rem;
        min-width: 11rem;
    }
}

@media (min-width: 576px) { 
    
    .card {
        margin-top: 2rem;
        max-width: 18rem;
        min-width: 17rem;
    }
}


@media (min-width: 768px) { 
    
    .card {
        max-width: 24rem;
        min-width: 23rem;
    }
}


@media (min-width: 1024px) { 

    .card {
        margin: 2rem;
        max-width: 18rem;
        min-width: 17rem;
    }
} 